<div class="title-container">
    <h1>Explore the Multiverse</h1>
</div>

<% flash.each do |type, msg| %>
    <div>
        <b><%= msg %></b>
        <br><br>
    </div>
<% end %>

<%= form_tag '/worlds', method: :get do %>
    <label>Search: </label>
    <input type="text" id="search" name="search">
    <input type="submit" value="Submit">
<% end %>
<br>
<% @worlds.each do |w| %>
    <p><%= link_to w.name, world_path(w) %><br>
    Drafted by <%= w.user.author_name %> on <%= w.created_at.strftime("%B %e, 20%y") %>
    </p>
<% end %>
