<div class="title-container">
    <h1><%= @world.name %></h1>
</div>    
<p><b>Scale:</b> <%= @world.scale %></p>
<p><b>Characters of <%= @world.name %>: </b></p>
<% @world.characters.each do |c| %>
    <ul>
        <li><%= link_to c.name, story_character_path(c.story, c) %></li>
    </ul>
<% end %>
<p><b>Description:</b></p> 
<p><%= @world.description %></p><br>

<% if current_user.id == @world.user_id.to_i %>
    <p><%= link_to "Edit World", edit_world_path(@world), class: "btn btn-default" %>
    <%= link_to "Delete World", world_path(@world), method: :delete, class: "btn btn-default" %></p>
<% end %>
