<h1>Welcome aboard, <%= @user.username %>!</h1>

<p>
This is your Story Quill, where you can create new characters, stories and even worlds!<br>
If you're brand new to LoreScroll, start by setting up your world. 
</p>

<h3>The Story Quill</h3>
<p><%= link_to "Create Your World", new_world_path %></p>
<p><%= link_to "Tell Your Story", new_story_path %></p>
<p><%= link_to "Add A Character", new_character_path %></p>
<br>
<p><%= link_to "Log Out", signout_path, method: "delete" %></p>