<div class="title-container">
    <h2>Welcome aboard, <%= @user.username %>!</h2>
</div>

<p>This is your Story Quill, where you can create new characters, stories and even worlds!</p>

<% if current_user.worlds.empty? || current_user.stories.empty? %>
    <p>New to LoreScroll? Let's get started.</p>
    <ol>
        <li><%= link_to "Create your world", new_world_path %>, a setting for your story to flourish in.</li> 
        <li><%= link_to "Tell your story", new_story_path %> and leave your audience enraptured.</li>
        <li>Fill that story with characters and link them to your worlds.</li>  
    </ol>
<% else %>
    <br>
<% end %>
<br>
<div class="content-box">
    <div class="content">
        <h3>Your Worlds</h3>
        <% if @user.worlds.exists? %>
            <% @user.worlds.each do |w| %>
                <li><%= link_to w.name, world_path(w) %></li><br>
            <% end %>
        <% else %>
            <p>No Worlds Added</p>
        <% end %>
    </div>
</div>
<br>
<div class="content-box">
    <div class="content">
        <h3>Your Stories</h3>
            <% if @user.stories.exists? %>
                <% @user.stories.each do |s| %>
                    <li><%= link_to s.title, story_path(s) %></li><br>
                <% end %>
            <% else %>
                <p>No Stories Added</p>
            <% end %>
    </div>
</div>