<h1>Welcome aboard, <%= @user.username %>!</h1>

<p>
This is your Story Quill, where you can create new characters, stories and even worlds!<br>
If you're brand new to LoreScroll, start by setting up your world. 
</p>

<h3>The Story Quill</h3>
<p><%= link_to "Create Your World", new_world_path %></p>
<p><%= link_to "Tell Your Story", new_story_path %></p>
<p><%= link_to "Add A Character", new_character_path %></p>
<br>

<h3>Your Worlds</h3>
<% @user.worlds.each do |w| %>
    <%= link_to w.name, world_path(w) %><br>
<% end %>
<br>

<h3>Your Stories</h3>
<% @user.stories.each do |s| %>
    <%= link_to s.title, story_path(s) %><br>
<% end %>
<br>

<p><%= link_to "Log Out", signout_path, method: "delete" %></p>