<div class="title-container">
    <h2>Welcome aboard, <%= @user.username %>!</h2>
</div>

<p>
This is your Story Quill, where you can create new characters, stories and even worlds!<br><br>
New to LoreScroll? Let's get started.<br><br>
1. <%= link_to "Create your world", new_world_path %>, a setting for your story to flourish in.<br> 
2. <%= link_to "Tell your story", new_story_path %> and leave your audience enraptured.<br>
3. Fill that story with characters and link them to your worlds.  
</p>
<br>
<div class="content-box">
    <h3>Your Worlds</h3>
        <% @user.worlds.each do |w| %>
            <li><%= link_to w.name, world_path(w) %></li><br>
        <% end %>
</div>
<br>
<div class="content-box">
    <h3>Your Stories</h3>
        <% @user.stories.each do |s| %>
            <li><%= link_to s.title, story_path(s) %></li><br>
        <% end %>
</div>