<h1><%= @story.title %></h1>
<h5>A <%= @story.medium %> by <%= @story.user.author_name %></h5>

<h3>Genre(s):</h3>
<% @story.genres.each do |g| %>
    <ul>
        <li><%= g.name %></li>
    </ul>
<% end %>

<h3>Setting(s):</h3> 
<% @story.worlds.each do |w| %>
    <%= link_to w.name, world_path(w) %><br>
<% end %>

<h3>Main Characters:</h3>
<p>
    <% @story.characters.main_characters.each do |c| %>
        <%= link_to c.name, story_character_path(c.story, c) %><br>
    <% end %>
    <% if @story.characters.empty? %>
        <%= "You Have No Characters" %>
    <% else %>
        <%= link_to "...See More Characters", story_characters_path(@story)%>
    <% end %>
</p>

<% if current_user.id == @story.user_id.to_i %>
    <p><b><%= link_to "Add A Character", new_story_character_path(@story) %></b></p>
<% end %>

<h3>Summary:</h3>
<p><%= @story.summary %></p><br>

<% if current_user.id == @story.user_id.to_i %>
    <p><%= link_to "Edit Story", edit_story_path(@story) %></p>
    <p><%= link_to "Delete Story", story_path(@story), method: :delete %></p>
<% end %>

