<h1><%= @story.title %></h1>
<h5>by <%= @story.user.author_name %>

<h3>Settings:</h3> 
<% @story.worlds.each do |w| %>
<%= link_to w.name, world_path(w) %><br>
<% end %>

<h3>Characters:</h3>
<p>
    <% @story.characters.each do |c| %>
        <%= link_to c.name, story_character_path(c.story, c) %><br>
    <% end %>
</p>

<h3>Summary:</h3>
<p><%= @story.summary %></p><br>

<p><%= link_to "Edit Story", edit_story_path(@story) %></p>
<p><%= link_to "Delete Story", story_path(@story), method: :delete %></p>

