<h1><%= @character.name %></h1>
<h5><%= @character.role %> in <%= @character.story.title %></h5>

<p>Setting: <%= @character.world.name %></p>

<p>Age: <%= @character.age %></p>
<p>Gender: <%= @character.gender %></p>
<p>Species: <%= @character.species %></p>
<p>Job: <%= @character.job %></p><br>

<p>Physical Description: </p>
<p><%= @character.physical %></p><br>

<p>Personality Description: </p>
<p><%= @character.description %></p><br>

<p>Motivation: </p>
<p><%= @character.motivation %></p><br>

<p><%= link_to "Edit Character", edit_character_path(@character) %>